* {
  margin: 5px;
  padding: 0;
  box-sizing: border-box;
}
header {
  background: yellow;
  height: 250px;
}
.sezione {
  background: #F9B7FF;
  /* debug */
  width: 200px;
  height: 200px;
}
article {
  background: purple;
  /* debug */
  width: 300px;
  height: 400px;
}
footer {
  background:	#77BFC7;
  height: 80px;
}
