* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#box-primary {
  margin: 20px;
}
main:after {
  content: "";
  display: table;
  clear: both;
}
header {
  background: yellow;
  height: 250px;
  margin-bottom: 10px;
}
#sezione-sx {
  height: 300px;
}
aside {
  float: left;
  width: 18%;
}
section {
  background: #F9B7FF;
  margin-bottom: 10px;
  /* debug */
  height: 200px;
}
article {
  margin: 0 2%;
  float: left;
  background: purple;
  width: 60%;
  /* debug */
  height:600px;
}
footer {
  margin-top: 10px;
  background:	#77BFC7;
  height: 80px;
}
